VirtualClassroom.TeacherClient/Service References/TeacherServiceReference/TeacherService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHomeworkView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HomeworkView" nillable="true" type="tns:HomeworkView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHomeworkView" nillable="true" type="tns:ArrayOfHomeworkView" />
  <xs:complexType name="HomeworkView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lesson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HomeworkView" nillable="true" type="tns:HomeworkView" />
  <xs:complexType name="ArrayOfLessonView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonView" nillable="true" type="tns:LessonView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonView" nillable="true" type="tns:ArrayOfLessonView" />
  <xs:complexType name="LessonView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeworkDeadline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonView" nillable="true" type="tns:LessonView" />
  <xs:complexType name="ArrayOfMarkView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkView" nillable="true" type="tns:MarkView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarkView" nillable="true" type="tns:ArrayOfMarkView" />
  <xs:complexType name="MarkView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lesson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarkView" nillable="true" type="tns:MarkView" />
</xs:schema>