VirtualClassroom.TeacherClient/Service References/TeacherServiceReference/TeacherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfSubject" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classes" nillable="true" type="tns:ArrayOfClass" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lessons" nillable="true" type="tns:ArrayOfLesson" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass" nillable="true" type="tns:ArrayOfClass" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Letter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudent" />
      <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfSubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="EGN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Homeworks" nillable="true" type="tns:ArrayOfHomework" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfHomework">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Homework" nillable="true" type="tns:Homework" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHomework" nillable="true" type="tns:ArrayOfHomework" />
  <xs:complexType name="Homework">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LessonId" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Homework" nillable="true" type="tns:Homework" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContentFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeworkContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HomeworkDeadline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeworkFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Homeworks" nillable="true" type="tns:ArrayOfHomework" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
</xs:schema>