VirtualClassroom.TeacherClient/Service References/TeacherServiceReference/TeacherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITeacherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" />
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_LoginTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_LoginTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddLesson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLesson" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddLesson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLessons" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_RemoveLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetHomeworkViewsByTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeworkViewsByTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetHomeworkViewsByTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeworkViewsByTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetLessonViewsByTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonViewsByTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetLessonViewsByTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonViewsByTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetSubjectsByTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetSubjectsByTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetMarkViewsByTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkViewsByTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetMarkViewsByTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkViewsByTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddMark_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMark" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddMark_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarkResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadLessonContent_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonContent" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadLessonContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadLessonHomework_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonHomework" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadLessonHomework_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonHomeworkResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadSubmittedHomework_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadSubmittedHomework" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DownloadSubmittedHomework_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadSubmittedHomeworkResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTest" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_AddTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTestResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTestsByTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestsByTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTestsByTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestsByTeacherResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ITeacherService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoginTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/LoginTeacher" message="tns:ITeacherService_LoginTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/LoginTeacherResponse" message="tns:ITeacherService_LoginTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddLesson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddLesson" message="tns:ITeacherService_AddLesson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddLessonResponse" message="tns:ITeacherService_AddLesson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/RemoveLessons" message="tns:ITeacherService_RemoveLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/RemoveLessonsResponse" message="tns:ITeacherService_RemoveLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetHomeworkViewsByTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetHomeworkViewsByTeacher" message="tns:ITeacherService_GetHomeworkViewsByTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetHomeworkViewsByTeacherResponse" message="tns:ITeacherService_GetHomeworkViewsByTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLessonViewsByTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetLessonViewsByTeacher" message="tns:ITeacherService_GetLessonViewsByTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetLessonViewsByTeacherResponse" message="tns:ITeacherService_GetLessonViewsByTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSubjectsByTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetSubjectsByTeacher" message="tns:ITeacherService_GetSubjectsByTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetSubjectsByTeacherResponse" message="tns:ITeacherService_GetSubjectsByTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMarkViewsByTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetMarkViewsByTeacher" message="tns:ITeacherService_GetMarkViewsByTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetMarkViewsByTeacherResponse" message="tns:ITeacherService_GetMarkViewsByTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddMark">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddMark" message="tns:ITeacherService_AddMark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddMarkResponse" message="tns:ITeacherService_AddMark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DownloadLessonContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DownloadLessonContent" message="tns:ITeacherService_DownloadLessonContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DownloadLessonContentResponse" message="tns:ITeacherService_DownloadLessonContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DownloadLessonHomework">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DownloadLessonHomework" message="tns:ITeacherService_DownloadLessonHomework_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DownloadLessonHomeworkResponse" message="tns:ITeacherService_DownloadLessonHomework_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DownloadSubmittedHomework">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DownloadSubmittedHomework" message="tns:ITeacherService_DownloadSubmittedHomework_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DownloadSubmittedHomeworkResponse" message="tns:ITeacherService_DownloadSubmittedHomework_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddTest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/AddTest" message="tns:ITeacherService_AddTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/AddTestResponse" message="tns:ITeacherService_AddTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTestsByTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTestsByTeacher" message="tns:ITeacherService_GetTestsByTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTestsByTeacherResponse" message="tns:ITeacherService_GetTestsByTeacher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITeacherService" type="tns:ITeacherService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITeacherService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/LoginTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLesson">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/AddLesson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLessons">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/RemoveLessons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeworkViewsByTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetHomeworkViewsByTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonViewsByTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetLessonViewsByTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsByTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetSubjectsByTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkViewsByTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetMarkViewsByTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMark">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/AddMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonContent">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/DownloadLessonContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonHomework">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/DownloadLessonHomework" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSubmittedHomework">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/DownloadSubmittedHomework" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/AddTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestsByTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeacherService/GetTestsByTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="WSHttpBinding_ITeacherService" binding="tns:WSHttpBinding_ITeacherService">
      <soap12:address location="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://virtualclassroomservices.apphb.com/Services/TeacherService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>